@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead">
    <div class="container">
        <div class="intro-text">
        
            <div class="intro-heading text-uppercase">Galerimize Hoşgeldiniz</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Hizmetlerimiz</a>
        </div>
    </div>
</header>

<!-- Services -->
<div><section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Hizmetlerimiz</h2>
                <br />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Araç Kiralama</h4>
                <p class="text-muted">Şirketinize uzun, orta ve kısa dönem araç kiralama hizmetleri profesyonel ekibimiz tarafından sağlanmaktadır.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-tag fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Araç Satın Alma</h4>
                <p class="text-muted">Araçlarınız değerinde satın alınıp aynı gün içerisinde noter işlemleri gerçekleştikten sonra ödemeniz aynı gün içerisinde yapılır.Size sadece kahve içme kısmı kalır.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-car-side fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Araç Satış</h4>
                <p class="text-muted">Galerimiz bünyesinde her bütçeye uygun segmentte araç bulunmaktadır. Araçlarımız 6 ay galeri garantilidir. Expertizleri yapıldıktan sonra satışları gerçekleştirilir.</p>
                
            </div>
        </div>
    </div>
</section></div>


<section class="bg-light" id="about">
    <div class="container">
        <div class="about-heading-content">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Hakkımızda</h2>
                </div>
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-lg-3">
                        <p>Şirketimiz 2015 senesinde kurulmuş olup araç alım,satım ve kiralama hizmetleri sunmaktadır.Birincil önceliğimiz her segmente hitap edecek şekilde araç temini sağlamaktır.</p>
                        <p class="mb-0">

                            
                            Bu kısıma istediğiniz şekilde devam edebilirsiniz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Ekibimiz</h2>
                
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/team/1.jpg" alt="">
                    <h4>Çalışan ismi</h4>
                    <br />
                    <p class="text-muted">Çalışan ünvanı</p>
                    <p class="text-muted">Çalışan İrtibat</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/team/2.jpg" alt="">
                    <h4>Çalışan ismi</h4>
                    <br />
                    <p class="text-muted">Çalışan ünvanı</p>
                    <p class="text-muted">Çalışan İrtibat</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/img/team/3.jpg" alt="">
                    <h4>Çalışan ismi</h4>
                    <br />
                    <p class="text-muted">Çalışan ünvanı</p>
                    <p class="text-muted">Çalışan İrtibat</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Mesai saatleri içerisinde dilediğiniz çalışanla iletişime geçip bilgi alabilirsiniz.Unutmayın sizin için buradayız.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients -->
<section style="background-color:#212529" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/img/logos/envato.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/img/logos/designmodo.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/img/logos/themeforest.jpg" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <img class="img-fluid d-block mx-auto" src="~/img/logos/creative-market.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

